.form-wrapper {
  position: fixed;
  z-index: 10;

  top: 3.5rem;
  left: 30%;

  width: 40%;

}

form {
  background: var(--background-light);
  padding: 1rem;
}

form input {
  cursor: text;
  user-select: all;

  background: var(--input-background-color);

  border: none;
  border-bottom: 2px solid var(--background-dark);
  border-radius: 2px;

  box-shadow: 1px 1px 3px var(--shadow);

  margin: .5rem 0 1rem;
  padding: .5rem;
  width: 100%;
}

.dog-search {
  padding: .5rem;
  height: 8rem;
  overflow-y: scroll;
}

.dog-search > * {
  border-radius: 5px;
  padding: 5px;
}

.dog-search button {
  margin: .25rem 0;
  float: right;
}

.highlighted {
  background-color: #38635155;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

form button {
  margin: 0px 35%;
  width: 30%;
}

button {
  padding: .5rem;

  background-color: var(--background-dark);
  color: var(--font-light);

  border: none;
  border-radius: .2rem .5rem;

  box-shadow: 3px 2px 5px var(--shadow)
  , -2px 2px 5px var(--shadow);

  transition-duration: .5s;
}

button:focus {
  outline: 0px;
}

button:active {
  opacity: .7;
}

button:hover {
  box-shadow: 3px 2px 20px var(--shadow)
  , -2px 2px 20px var(--shadow);
}

.form-heading {
  background: var(--background-ex-dark);
  color: var(--font-light);

  padding: .25rem;
  text-align: center;
}

.form-heading div {
  color: var(--font-light);

  height: 2.3rem;
  width: 2.3rem;

  position: fixed;
  right: 30%;
  top: 3.5rem;

  padding: .25rem .4rem;
}

.form-heading div:hover {
  background: red;
}
