<div ng-show = "!cache.loggedIn" ng-controller = "loginCtrl">

        <img class = "login-logo" src = "images/icon.png" />

        <form ng-submit = "submit()" class = "login-inputs">
                <div class = "login-label">Username</div>
                <input ng-model = "cache.user.username" class = "login-input"></input>
                <div class = "login-label">Password</div>
                <input type = "password" ng-enter = "submit()" ng-model = "cache.user.password" class = "login-input"></input>
                <br />

                <button type = "submit" class = "login-button">login</button>
        </form>

</div>
