<div ng-controller = "schedCtrl" class = "app-wrapper">

  <div class = "header"> <!-- App Header -->
    <div class = "menu-btn">
      <span class = "hand">Menu</span>
    </div>

    <h1>{{week.toString()}}</h1>

    <div class = "week-scroller">
      <span ng-click = "week.prevWeek()" class = "prev-week hand">Prev</span>
      <span ng-click = "week.nextWeek()" class = "next-week hand">Next</span>
    </div>

  </div>

  <div class = "add-btn" ng-click = "formDisplay.val = true">
    <svg xmlns="http://www.w3.org/2000/svg"
      transform="translate(12, 12)" width="24" height="24" viewBox="0 0 24 24">
      <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/>
    </svg>
  </div>

  <div class = "content"> <!-- Content Wrapper -->

    <div class = "week">
      <div ng-repeat = "day in week.days" ng-init = "list = weekEvents[0][$index]" class = "day">
        <h3 class = "day-title">{{day.toDateString().substring(0, 10)}}</h3>
        <div class = "dog-list">
          <div ng-repeat = "event in list" class = "{{event.color}}" id = "{{event.id}}">{{event.text}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class = "forms" ng-show = "formDisplay.val"> <!-- Forms  -->
    <ng-include src = "'views/new-dog-form.html'"></ng-include>
  </div>

</div>
