<div class = "cover"></div>


<div class = "dog-profile">

  <div  class = "close dog-profile-close"><svg class = "hand" ng-click = "cache.dogProfile.open = false" name="ProfileClose" width="24" height="24" viewBox="0 0 12 12"><polygon fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon></svg></div>

  <div class = "dog-profile-content">
    <div class = "dog-profile-img"> 
      <img width = "100%" src = "images/icon.png" />
    </div>

    <div class = "dog-info">

      <button class = "profile-button" ng-click = "removeDog(cache.dogProfile.id)">Delete Dog</button>

      <button ng-show = "!editMode" class = "profile-button" ng-click = "editMode = true">Edit Mode</button>
      <button ng-show = "editMode" class = "profile-button" ng-click = "editMode = false; saveProfile()">Save</button>

      <div ng-if = "!editMode" class = "dog-profile-name">{{cache.dogProfile.name + ' ' + cache.dogProfile.clientName}}</div>
      <div ng-if = "editMode" class = "dog-profile-name">
        <input class = "profile-edit-input" ng-model = cache.dogProfile.name></input>
        <input class = "profile-edit-input" ng-model = cache.dogProfile.clientName></input>
      </div>

      <div class = "dog-profile-breed">{{cache.dogProfile.breed}}</div>


      <div class = "dog-profile-bookings">
        <div ng-if = "!editMode" class = "dog-profile-dog-booking" ng-repeat = "booking in cache.dogProfile.bookings">
          <span>{{formatDate(booking.start) + ' -'}}</span>
          <span>{{formatDate(booking.end)}}</span>
          <button ng-click = "removeEvent(booking.eventID)" class = "booking-delete-button">Delete</button> 
        </div>
        <div ng-if = "editMode" class = "dog-profile-dog-booking" ng-repeat = "booking in cache.dogProfile.bookings">
          <input type = "datetime-local" class = "profile-edit-input" ng-model = "booking.start" />
          <input type = "datetime-local" class = "profile-edit-input" ng-model = "booking.end" />
        </div>
      </div>
    </div>
  </div>



</div>
