@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

:root {
    --background-light: #e1e7ec;
    --background-ex-light: #f2efef;
    --background-dark: #386351;
    --background-ex-dark: #131418;

    --input-background-color: #d3dadf;

    --cover-color: #444a;

    --font-light: #ebebeb;
    --font-dark: #282C34;

    --shadow: #AAA;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Poppins';

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}

body,
html {
  background-color: var(--background-light);
  overflow: hidden;
}

.hand {
  user-select: none;
  cursor: pointer;
}

.app-wrapper {
  margin-top: 2rem;
}

.header {
  height: 3rem;

  color: var(--font-light);
  background-color: var(--background-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header div {
  height: 100%;
}

.header * {
  line-height: 3rem;
  vertical-align: middle;

  padding: 0px 5px;
}

.add-btn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 48px;
  width: 48px;

  background: var(--background-dark);
  fill: var(--font-light);

  border-radius: 100%;

}

.add-btn:hover {
  fill: var(--input-background-color);
}

.content {
  height: calc(100vh - 5rem);
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  width: .5rem;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--background-ex-light);
  box-shadow: inset 0 0 3px var(--shadow);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--background-dark);
  box-shadow: 3px 0px 5px var(--shadow);
}


.day {
  height: calc(100vh - 6rem);
  box-shadow: 3px 3px 5px var(--shadow);

  background-color: var(--background-ex-light);
}

.week {
  width: 95%;
  margin: .25rem auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: .5rem;
}

.day-title {
  text-align: center;
}

.dog-list {
  font-family: 'Raleway';
  color: black;
  order: 10;
}

.arrivals {
  color: blue;
  order: 3;
}
.arrivals::after {
  content: ' - Arrives';
}

.departures {
  color: red;
  order: 4;
}
.departures::after {
  content: ' - Leaves';
}

.boarding {
  order: 1;
  color: maroon;
}

.daycare {
  order: 2;
  color: hotpink;
}

.grooming {
  order: 5;
  color: green;
}
.fosters {
  color: darkblue;
  order:7;
}

.general {
  order: 5;
  color: darkslategrey;
}

.forms {
  position: fixed;
  top: 2rem;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: visible;

  background-color: var(--cover-color);
}
