@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

:root {
    --background-light: #e1e7ec;
    --background-ex-light: #f2efef;
    --background-dark: #386351;
    --background-ex-dark: #131418;
    --font-color-light: #ebebeb;
    --font-color-dark: #282C34;
    --shadow: #AAA;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Raleway';

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  cursor: default;
}

body,
html {
  background-color: var(--background-light);
}

.hand {
  user-select: none;
  cursor: pointer;
}

#titleBar {
  -webkit-app-region: drag;

  font-family: 'Poppins';
  background-color: var(--background-ex-dark);
  color: var(--font-color-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 2rem;
}

#titleBar span {
  padding: .25rem;
  -webkit-app-region: no-drag;
  display: inline-block;
  text-align: center;
  width: 2rem;
  height: 100%;
}

#titleBar span:hover {
  background-color: red;
}

.header {
  height: 3rem;

  color: var(--font-color-light);
  background-color: var(--background-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header div {
  height: 100%;
}

.header * {
  line-height: 3rem;
  vertical-align: middle;

  padding: 0px 5px;
}

.content {
  overflow: hidden;
}

.day {
  height: 500px;
  box-shadow: 3px 3px 5px var(--shadow);

  background-color: var(--background-ex-light);
}

.week {
  width: 95%;
  margin: .25rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: .5rem;
}

.day-title {
  text-align: center;
}

.dog-list {
  color: black;
  order: 10;
}

.arrivals {
  color: blue;
  order: 3;
}
.arrivals::after {
  content: ' - Arrives';
}

.departures {
  color: red;
  order: 4;
}
.departures::after {
  content: ' - Leaves';
}

.boarding {
  order: 1;
  color: maroon;
}

.daycare {
  order: 2;
  color: hotpink;
}

.grooming {
  order: 5;
  color: green;
}
.fosters {
  color: darkblue;
  order:7;
}

.general {
  order: 5;
  color: darkslategrey;
}

.forms {
  position: absolute;
  top: 0;
  left: 0;
}
