<div class = "form-wrapper" ng-controller = "formCtrl"
ng-click = "$event.stopPropagation();"
ng-init = "bookingType = 'boarding'">

  <div class = "form-heading">

    <h3>New Boarding</h3>

    <div ng-click = "closeForms()" class = "hand"><svg name="TitleBarClose" width="12" height="12" viewBox="0 0 12 12"><polygon fill="#ffffff" fill-rule="evenodd" points="11 1.576 6.583 6 11 10.424 10.424 11 6 6.583 1.576 11 1 10.424 5.417 6 1 1.576 1.576 1 6 5.417 10.424 1"></polygon></svg></div>

  </div>

  <form>

    Dog Name <br />

    <input ng-keydown = "findEvents()" ng-model = "form.dogName" type = "text"/>

    <div class = "dog-search">
      <div ng-repeat = "event in cache.searchEvents | filter : {name: '!!'} | limitTo: 7"
      ng-class = "{'highlighted': form.id === event.ID}"
      class = "clearfix">
        {{event.name + ' ' + event.cName}}
        <button ng-click = "cacheID($event, event.ID)" class = "hand" type = 'button'>select</button>
        <br />
      </div>

    </div>

    <br />

    Start
    <input ng-model = "form.start" type = "datetime-local" />

    End
    <input ng-model = "form.end" type = "datetime-local" />

    <button ng-click = "addBooking()" type = "button">Submit</button>

  </form>

</div>
