<div class = "sidebar-sub-heading">
  <h3>New Event</h3>
</div>

<form class = "sidebar-panel"
ng-click = "$event.stopPropagation();">

  Text
  <br />

  <input ng-model = "form.text" type = "text"/>

  <br />
  Date
  <br />

  <input ng-model = "form.start" type = "datetime-local"/>

  <br />
  Event Type
  <br />
  <select ng-model = "form.type">
    <option selected="selected">general</option>
    <option>grooming</option>
    <option>visit</option>
    <option>foster</option>
  </select>

  <br />

  <button class = "hand" 
  ng-click = "form.type = form.type === 'dog' || form.type === 'boarding' || form.type === 'daycare' ? '' : form.type; 
  addEvent()"
  type = "button">Submit</button>

</form>

</div>
