  <div class = "sidebar-sub-heading">
    <h3>New Dog</h3>
  </div>

  <form class = "sidebar-panel"
  ng-click = "$event.stopPropagation();">
    Name <br />

    <input ng-model = "form.name" type = "text" name = "name"/>

    <br />
    Client Name <br />

    <input ng-model = "form.cName" type = "text" name = "cName"/>

    <br />
    <button class = "hand" ng-click = "form.type = 'dog'; addEvent()" type = "button">Submit</button>

    <h1>{{form.event.name + ' ' + form.event.cName}}</h1>

  </form>

</div>
