<div class = "form-wrapper" ng-click = "$event.stopPropagation();">

    <div class = "sidebar-sub-heading">

        <h3>New Booking</h3>

    </div>

    <form class = "sidebar-panel"
          ng-init = "form.booking.event_type = 'boarding'">

        <div class = "booking-type-wrapper">
            <button ng-click = "form.booking.event_type = 'boarding'" id = "booking-type-btn">Boarding</button>
            <button ng-click = "form.booking.event_type = 'daycare'" id = "booking-type-btn">Daycare</button>
        </div>

        <br />

        Dog Name <br />

        <input ng-change = "findEvents(form.booking.dogName)" ng-model = "form.booking.dogName" type = "text"/>

        <div class = "search">
            <div ng-repeat = "event in cache.searchEvents | filter : {type: 'dog'} | limitTo: 7"
                 ng-class = "{'highlighted': form.booking.id === event.dogId}"
                 class = "clearfix">
                {{ event.text }}
                <button ng-click = "form.booking.id = event.dogId" class = "hand" type = 'button'>select</button>
                <br />
            </div>

        </div>

        <br />

        <div ng-show = "form.booking.event_type === 'boarding'">

            Start
            <input ng-model = "form.booking.event_start" type = "datetime-local" />

            End
            <input ng-model = "form.booking.event_end" type = "datetime-local" />

        </div>

        <div ng-show = "form.booking.event_type === 'daycare'">

            Date
            <input ng-model = "form.booking.event_start" type = "datetime-local" />

            Repeat
            <select ng-model = "form.repeatOptions.frequency" value="once" >
                <option>once</option>
                <option>daily</option>
                <option>weekly</option>
            </select>

            Until
            <input ng-model = "form.repeatOptions.stopDate" type = "date" />

        </div>

        <button ng-click = "addEvent(form.booking, form.repeatOptions)" type = "button">Submit</button>

    </form>

</div>
