<div class = "sidebar-sub-heading">
  <h3>User Management</h3>
</div>


<div class = "sidebar-panel" ng-click = "$event.stopPropagation(); load();">

  <h4>Action</h4>
  <select ng-model = "userManagementAction">
    <option>Add User</option>
    <option>Delete User</option>
    <option>Change Password</option>
  </select>

  
  <div ng-show = "userManagementAction === 'Add User'" class = "add-user">
    <h4>Add User</h4>
    <label>Username</label>
    <input ng-model = "newUser.username"/>
    <label>Password</label>
    <input ng-model = "newUser.password"/>
    <label>Permissions</label>
    <select ng-model = "newUser.permissionType">
      <option>Viewer</option>
      <option>Editor</option>
      <option>Admin</option>
    </select>

    <button ng-click = "addUser(newUser.username, newUser.password, newUser.permissionType);" class = "hand">Submit</button>
  </div>

  <div ng-show = "userManagementAction === 'Delete User'" class = "delete-user">
    <h4>Delete User</h4>
    <label>Username</label>
    <input ng-model = "usernameToDelete"/>
    
    <button ng-click = "deleteUser(usernameToDelete);" class = "hand">Submit</button>
  </div>

  <div ng-show = "userManagementAction === 'Change Password'" class = "change-password">
    <h4>Change Your Password</h4>
    <label>Old Password</label>
    <input ng-model = "oldPassword" />
    <label>New Password</label>
    <input ng-model = "newPassword" />

    <button ng-click = "changePassword(oldPassword, newPassword);" class = "hand">Submit</button>
  </div>
</div>



